@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* 
{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    list-style-type: none;
}

body, html
{
    background-color: #000000;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 40px 40px;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

main
{
    flex: 1;
}

nav
{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: rgb(25, 50, 97);
    color: rgb(226, 196, 25);
    padding: 20px;
    border-bottom: solid;
    border-width: 0.5px;
    display: flex;
    flex-direction: row;
}

a:hover
{
    color:rgb(226, 196, 25); 
}

a
{
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

h1
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

p
{
    display:flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 20px 0; /* Adiciona espaçamento vertical entre os parágrafos */
    letter-spacing: 0.5px; /* Aumenta o espaçamento entre as letras */
    line-height: 1.8;
    cursor: text;
}

footer
{
    text-align: center;
    padding: 10px;
    border-top: solid;
    border-color: rgb(226, 196, 25);
    border-width: 0.5px;
    background-color: rgb(25, 50, 97);
    color: white;
}

#perfil
{
    width: 150px;
    height: auto;
    border-radius: 125px;
    justify-content: center;
    display: flex;
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 100%; /* Faz a imagem se ajustar ao tamanho da tela */
    height: auto;
    border: 2px solid transparent; /* Inicialmente sem borda */
    transition: all 0.9s ease; /* Transição suave */
}

#perfil:hover
{
    border: 2px solid rgb(222, 198, 17);
    transform: scale(1.20);
    transition: 0.9s;
    z-index: 1000;
}

section
{
    text-align: center;
    padding: 20px;
}

#home
{
    padding-bottom: 100px;
}

